*{

    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

div{

    height: calc(100vh - 30px); /* IMPORTANTE para evitar desbordamiento, restar el gap entre filas */
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;

    grid-template-columns: calc(25% - 30px/4) calc(25% - 30px/4) calc(25% - 30px/4) calc(25% - 30px/4); /* IMPORTANTE para que este centrado, restar el gap proporcional entre columnas */
    grid-template-rows: 15% 35% 35% 15%;
}

header{

    background-color: orange;

    grid-column-start: 1;
    grid-column-end: 5;
    
    grid-row-start: 1;
    grid-row-end: 2;
}

main{

    background-color: red;

    grid-column-start: 1;
    grid-column-end: 4;
    
    grid-row-start: 2;
    grid-row-end: 4;
}

aside{

    background-color: green;

    grid-column-start: 4;
    grid-column-end: 5;
    
    grid-row-start: 2;
    grid-row-end: 4;
}

footer{

    background-color: blue;

    grid-column-start: 1;
    grid-column-end: 5;
    
    grid-row-start: 4;
    grid-row-end: 5;
}

