
/*
    Falta:

        - Hacer los 2 menus desplegables
        - Algunos efectos de hover
        - alinear redes sociales
        - altura ultimo menu

    Preguntar:

        - Alinear iconos en menu redes sociales
        - Altura ultimo menu

*/

*{

    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos Generales */
p{
    color: white;
    font-size: 13px;
}

a{

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

i{
    color: white;
    font-size: 22px;
    margin-right: 10px;

}

ul{
    list-style: none;
}

li{

    padding: 10px;
}

/* MOVIL */

    nav{

        display: flex;
        flex-direction: column;
        text-align: center;

    }

    /* Menu Sencillo */

        #menuSencillo ul li:hover{

            background-color: rgb(42, 42, 141);
        }

    /* Con iconos */
   
        #menuConIconos ul{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
        }

        #menuConIconos ul li{

            flex: 1 0 40%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 20px;

        }

        #menuConIconos ul li:hover{

            background-color: rgb(42, 42, 141);
        }

        @media screen and (max-width:480px) {

            .ocultar{

                display: none;
            }

            #menuConIconos ul{

                display: flex;
                flex-direction: column;
            }

        }

    /* Dropdown menu */

        #menuDropdown ul li ul{

            padding: 20px;
        }

        #menuDropdown{

            text-align: start;
        }

        #menuDropdown ul li:hover{

            background-color: rgb(42, 42, 141);
        }

        #menuDropdown ul li ul li:hover{

            background-color: pink;
        }

    /*  Menu Redes Sociales */

        #menuRedesSociales{

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        #menuRedesSociales ul{

            display: flex;
            flex-direction: row;
        }

        #menuRedesSociales ul li:hover{

            background-color: rgb(42, 42, 141);
        }

    /* Dropdown menu con redes sociales */

        #menuDropRedesSociales ul li ul{

            padding: 20px;
        }

        #menuDropRedesSociales{

            text-align: start;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #menuDropRedesSociales ul li:hover{

            background-color: rgb(42, 42, 141);
        }

        #menuDropRedesSociales ul li ul li:hover{

            background-color: pink;
        }

        #dropRedesSociales{

            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

/* ESCRITORIO */
@media screen and (min-width:768px) {

    body{

        background: linear-gradient(to right, #ff5e62, #ff9966);
    }

    #contenedor{

        max-width: 1000px;
        margin: auto;
        padding: 20px;
        background-color: white;
    }

    nav{

        flex-direction: row;
    }

    /* Menu sencillo */

        #menuSencillo ul{

            display: flex;
            flex-direction: row;
            flex-grow: 1;
        }

        #menuSencillo ul li{

            flex-grow: 1;
        }

    /* menuConIconos */

        #menuConIconos ul{

            display: flex;
            flex-grow: 1;
            flex-direction: row;
        }

        #menuConIconos ul li{

            flex: 1 0 20%;
        }

    /* Dropdown menu */

    #menuDropdown ul{

        display: flex;
        flex-grow: 1;
        flex-direction: row;
    }

    #menuDropdown ul li{

        flex: 1 0 20%;
    }

    #menuDropdown ul li ul{

        display: none;
    }


    /* Dropdown menu con redes sociales */

    #menuDropRedes{

        display: flex;
        flex-direction: row;
    }
    

}

/* Clases */

.fondoAzul{

    background-color: rgb(59, 59, 199);
}