$_pixelesTablet:480px;
$_pixelesEscritorio: 768px;
$_anchuraContainer: 1100px;
$_navBackgroundColor: black;
$_footerLinkColor: #525252;
$_footerLinkBackgroundColor: #c9c84a;
$_asideBackgroundColor: #c9c84a;
$_footerCopyBackgroundColor: #282828;