/* Imports */
@import "_variables.scss";


/* RESET */

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Classes */

.container{

    max-width: 1100px;
    margin: 0 auto;
}

.imagenHeader{

    max-width: 100%;
}

/* Propiedades generales */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* HEADER */
header{

    nav{

        background-color: $_navBackgroundColor;

        ul{

            color: white;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;

            li{

                text-align: center;
                padding: 10px 0px;
                color: white;
                font-weight: bold;

                &:hover{

                    background-color: $_navHoverBgColor;
                    color: $_navHoverFontColor;
                }
            }
        }
    }

    #imagenHeader{

        max-width: 100%;
    }
}

/* MAIN */
main{

    grid-template-columns:minmax(10px, max-content) auto minmax(100px, max-content);
    grid-template-rows: repeat(4, auto);

    .bgAside{

        background-color: $_asideBackgroundColor;
    }

    #aside1{

        text-align: center;
        color: white;

        li{

            padding: 10px;
            font-weight: bold;
        }
    }

    #aside2, #aside3{

        text-align: center;
    }
}

/* FOOTER */
footer{

    background-color: $_footerLinkBackgroundColor;


    #enlacesFooter{

        padding: 40px 0px;
        text-align: center;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    #copy{

        padding: 5px;

        background-color: $_footerCopyBackgroundColor;
        color: $_footerSmallColor;
        text-align: center;
    }
}