@mixin escritorio(){

    @media only screen and (min-width: #{$_pixelesEscritorio}) {

        @content;
        
    }
}

@mixin tablet(){

    @media only screen and (min-width: #{$_pixelesTablet}) {

        @content;
        
    }
}

@mixin boton_masInformacion($colorFondo, $colorFuente){

    padding: 10px;
    background-color: $colorFondo;
    color: $colorFuente;
    text-align: center;
}